{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<section class="main-container">
    <div class="cards-container">
        {% for i in games %}
            <a href="{% url 'details' i.idvideojuego %}" target="_blank">
                <div class="product-cards">
                    <img src="{{ i.imagenjuego.url }}" alt="{{ i.nombre }}">
                    <div class="product-info">
                        <div>
                            <p>{{i.nombre}} | {{i.plataforma}} | {{i.idcategoria}}</p>
                            <p>{{i.precio}}$</p>
                        </div>
                        <button>
                             <img src="{% static 'imagenes/carritou.png' %}" alt="buy">
                        </button>
                    </div>
                </div>
            </a>
        {% empty %}
            <div class="h2-container">
                <h2>Actualmente, no disponemos de videojuegos que se ajusten a esa categoría específica</h2>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}