{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
 <h2> GAMES </h2>
 <h3>Categorias</h3>
 <form method="POST" action="{% url 'create' %}">
    {% csrf_token %}
    {{form_categorias}}
    <button>
        save
    </button>
 </form>

 <h3> videojuegos </h3>
 <form method="POST" action="{% url 'create' %}">
    {% csrf_token %}
    {{form_videojuegos}}
    <button>
        save
    </button>
 </form>

 <h3> desarrolladora </h3>
 <form method="POST" action="{% url 'create' %}">
    {% csrf_token %}
    {{form_desarrolladora}}
    <button>
        save
    </button>
 </form>
{% endblock content %}