{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<style>
    @font-face{
        font-family: 'fuenteGamer';
        src: local('fuenteGamer'), url("{% static 'fonts/Abel-Regular.ttf' %}")format('opentype');
    }
        
    body{
        font-family: 'fuenteGamer';
    }
</style>
 <div class="product-cards">
    <img src="{{ game.picture.url }}" alt="{{ game.nombre }}">
    <div class="product-info">
        <div>
            <p>{{game.name}} | {{game.platform}} | {{game.category}}</p>
            <p>{{game.price}}$</p>
            <p>{{game.description}}</p>
            <p>fecha de lanzamiento: {{game.date|date:"d M, Y"}}</p>
        </div>
        <button>
        </button>
    </div>
 </div>

{% endblock content %}