{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
 <div class="product-cards">
    <img src="{{ game.imagenjuego.url }}" alt="{{ game.nombre }}">
    <div class="product-info">
        <div>
            <p>{{game.nombre}} | {{game.plataforma}} | {{game.idcategoria}}</p>
            <p>{{game.precio}}$</p>
            <p>{{game.descripcion}}</p>
            <p>fecha de lanzamiento: {{game.lanzamiento|date:"d M, Y"}}</p>
        </div>
        <button>
            <img src="{% static 'imagenes/carritou.png' %}" alt="buy">
        </button>
    </div>
 </div>

{% endblock content %}