{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<header>
    <h1>ServíGames Store</h1>
</header>
<section class="main-container">
    <div class="cards-container">
        {% for i in game %}
        <a href="{% url 'details' i.idvideojuego %}" target="_blank">
            <div class="product-cards">
                {% if i.imagenjuego %}
                    <img src="{{ i.imagenjuego.url }}" alt="{{ i.nombre }}">
                {% else %}
                    <img src="{% static 'default_image.png' %}" alt="No image available">
                {% endif %}
                <div class="product-info">
                    <div>
                        <p>{{i.nombre}} | {{i.plataforma}} | {{i.idcategoria}}</p>
                        <p>{{i.precio}}$</p>
                    </div>
                    <button>
                        <img src="{% static 'imagenes/carritou.png' %}" alt="buy">
                    </button>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}
