{% extends 'layout/other_base.html' %}
{% load static %}
{% block other_content %}
<style>
    /* @font-face{
        font-family: 'fuenteGamer';
        src: local('fuenteGamer'), url("{% static 'fonts/Abel-Regular.ttf' %}")format('opentype');
    }
        
    body{
        font-family: 'fuenteGamer';
    } */
</style>
<div class="container">
    <h2>Iniciar sesión</h2>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      {% if error %}
      <p style="color: red;">{{ error }}</p>
      {% endif %}
      <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    </form>
</div>
{% endblock %}